/* 

Orden 

1. Position
2. Box model
3. Typographic
4. Visual
5. Misc

*/

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container  {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    height: 600px;
    margin: 20px;
    background-color: #fff;
}

.container .imgBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    /* background-color: #5466b1; */
}

.container .imgBox:before {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 8em;
    font-weight: 800;
    color: #000;
    content: 'Nike';
    opacity: 0.1;
}

.container .imgBox img {
    position: relative;
    left: -50px;
    width: 700px;
    transform: rotate(-30deg);
}

.container .details {
    display: block;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
}

.container .details h2 {
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 2.5em;
    line-height: 0.8em;
    color: #444;
}

.container .details h2 span {
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.container .details p {
    max-width: 85%;
    margin-left: 15%;
    margin-bottom: 35px;
    color: #333;
    font-size: 15px;
}

.container .details h3 {
    float: left;
    font-size: 2.5em;
    color: #a2a2a2;
}

.container .details button {
    margin-top: 5px;
    float: right;
    padding: 15px 20px;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}
.container .selectors {
    position: absolute;
    display: flex;
    width: 30%;
    right: 10%;
    bottom: 50px;
    /* border: red solid 1px; */
    align-items: center;
    justify-content: space-between;
    text-align: center;
    align-self: center;
    margin: auto;
}

.selectors > input {
    display: block;
    display: none;
}
.selectors > label {
    width: 30px;
    height: 30px;
    border: white solid 3px;
    border-radius: 30px;
}
.selectors > input:checked + label {
    border: black solid 3px;
}


.color-blue {
    background-color: #5466b1;
}

.color-black {
    background-color: #656766;
}

.color-orange {
    background-color: #de6040;
}

.color-red {
    background-color: #c24c51;
}

.color-green {
    background-color: #6aa36c;
}

.color-blue-bg {
    background-color: #070c24;
}

.color-black-bg {
    background-color: #202020;
}

.color-orange-bg {
    background-color: #491b10;
}

.color-red-bg {
    background-color: #240707;
}

.color-green-bg {
    background-color: #082709;
}



@media (max-width: 1080px) {
    .container {
        height: auto;
    }

    .container .imgBox {
        height: auto;
        padding: 40px;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }

    .container .imgBox img {
        left: initial;
        max-width: 100%;
        transform: rotate(0deg);
    }

    .container .details {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .container .details p {
        max-width: 100%;
        margin-left: 0;
    }

    .container .selectors {
        position: unset;
        width: 100%;
        max-width: 500px;
        padding: 30px;
        bottom: 0;
    }

    .selectors > label {
        margin: 0 auto;
        border-radius: 50%;
        border: 1px;
    }
}