/* 

Orden 

1. Position
2. Box model
3. Typographic
4. Visual
5. Misc

*/

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #070c24;
}

.container  {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    height: 600px;
    margin: 20px;
    background-color: #fff;
}

.container .imgBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #5466b1;
}

.container .imgBox:before {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 8em;
    font-weight: 800;
    color: #000;
    content: 'Nike';
    opacity: 0.1;
}

.imgBox__btn{
    margin: 0 20px;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 50%;
    padding: 2px 5px;
    cursor: pointer;
}

.container .imgBox img {
    position: relative;
    /* left: -50px; */
    margin-top: 180px;
    width: 100%;
    max-width: 350px;
    /* transform: rotate(-30deg); */
}

.container .details {
    display: block;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
}

.container .details__title {
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 2.5em;
    line-height: 0.8em;
    color: #444;
}

.container .details__title span {
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.container .details__description {
    max-width: 85%;
    margin-left: 15%;
    margin-bottom: 35px;
    color: #333;
    font-size: 15px;
}

.container .details__price {
    float: left;
    font-size: 2.5em;
    color: #a2a2a2;
}

.container .details__buy {
    margin-top: 5px;
    margin-bottom: 20px;
    float: right;
    padding: 15px 20px;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 40px;
    background-color: #5466b1;
    border: none;
    cursor: pointer;
}

.details__colors{
    display: flex;
    width: 100%;
}

.details__colors__white,
.details__colors__black,
.details__colors__red,
.details__colors__pink{
    padding: 5px 8px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.details__colors__white{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.details__colors__black{
    background-color: black;
    color: white;
}

.details__colors__red{
    background-color: red;
    color: white;
}

.details__colors__pink{
    background-color: pink;
    color: black;
}

@media (max-width: 1080px) {
    .container {
        height: auto;
    }

    .container .imgBox {
        height: auto;
        padding: 40px;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }

    .container .imgBox img {
        left: initial;
        max-width: 100%;
        transform: rotate(0deg);
    }

    .container .details {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .container .details p {
        max-width: 100%;
        margin-left: 0;
    }
}